/*For buttons throughout the document minus buttons in navigation*/
button, .button {
  border-style: solid;
  border-width: 0px;
  cursor: pointer;
  font-family: 'Muli', sans-serif;
  font-weight: 400;
  line-height: normal;
  margin: 0 0 1.25rem;
  position: relative;
  text-decoration: none;
  text-align: center;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  display: inline-block;
  padding-top: 1rem;
  padding-right: 2rem;
  padding-bottom: 1.0625rem;
  padding-left: 2rem;
  font-size: 1rem;
  background-color: transparent;
  border: 3px solid #20997e;
  color: #20997e;
  transition: background-color 300ms ease-out; }

button:hover, button:focus, .button:hover, .button:focus {
  background-color: #20997e;
  color: #fff; }

/* For buttons within the navigation area */

.top-bar-section ul li > a.button {
  font-size: 1rem;
  font-family: 'Muli', sans-serif;
  font-weight: 300;
  margin-top: 23px;
  padding-right: 15px;
  padding-left: 15px;
  background-color: #fff;
  color: #20997e;
  border: 3px solid #20997e; }
  
.top-bar-section ul li > a.button:hover, .top-bar-section ul li > a.button:focus {
  background-color: #20997e;
  color: #fff; }
  
/* To design links within the navigation */

.top-bar-section li:not(.has-form) a:not(.button) {
  padding: 0 15px;
  line-height: 99px;
  background: #fff;
  color: #85776B;
  font-family: 'Muli', sans-serif;
  font-weight: 300; 
  font-size: 1em ; }
  
.top-bar-section li:not(.has-form) a:not(.button):hover {
  background-color: #fff;
  color:#20997e ; }  
  
.top-bar-section li.active:not(.has-form) a:not(.button) {
  padding: 0 15px;
  line-height: 99px;
  color: #20997e;
  background: #fff; }
    
.top-bar-section li.active:not(.has-form) a:not(.button):hover {
  background: #fff;
  color: #a00c0f; }
  
.fixed {
  width: 100%;
  left: 0;
  position: fixed;
  top: 0;
  z-index: 99;
  -moz-box-shadow: 0 5px 5px rgba(24, 23, 23, 0.23);
  box-shadow: 0 5px 5px rgba(24, 23, 23, 0.23); }
  
.tabs dd > a, .tabs .tab-title > a {
  display: block;
  background: #e1d9d2;
  color: #fff;
  padding: 1rem 2rem;
  font-family: 'Paytone One', sans-serif;
  font-size: .95rem; }

.tabs dd > a:hover, .tabs .tab-title > a:hover {
  background: #c2b7ab; }

.tabs dd.active a, .tabs .tab-title.active a {
  background: #fcf9f8;
  color: #85776B; }
  
.tabs-content > .content.active {
  display: block;
  background: #fcf9f8;
  float: none; }  

/* iPhone 4, 5s, 5c Phone Portrait */

@media only screen and (min-width: 18.750em) {

h1{
  color:#fff;
  font-family: 'Paytone One', sans-serif;
  margin-top: 1.1em;
  margin-bottom: 1.1em;
  font-weight: 300;
  text-align: center;
  word-spacing: .25em;
  letter-spacing: .11256em; } 

.home{
	background: url('h../img/home_phoneport.png') no-repeat left top; }

.outreach{
	background: url('../img/outreach_phoneport.png') no-repeat left top; }

.about{
	background: url('../img/about_phoneport.png') no-repeat left top; }

.volunteer{
	background: url('../img/volunteer_phoneport.png') no-repeat left top; }

.donate{
	background: url('../img/donate_phoneport.png') no-repeat left top; }

.top-bar {
  overflow: hidden;
  height: 65px;
  line-height: 65px;
  position: relative;
  background: #fff;
  margin-bottom: 0; }
  
.top-bar .name h1 {
  line-height: 65px;
  font-size: 1.0625rem;
  margin: 0; }
    
.top-bar .toggle-topbar.menu-icon {
  top: 35%;
  margin-top: 0px; }

#community{
  position: relative;
  width: 100%;
  height: 65px;}

.size{
  width: 100px;}
  
 .tabs dd > a, .tabs .tab-title > a {
   display: block;
   background: #e1d9d2;
   color: #fff;
   padding: 1rem 1.66rem;
   font-family: 'Paytone One', sans-serif;
   font-size: .6559rem; }}

@media only screen and (min-width: 22.500em) {

h1{
  color:#fff;
  font-family: 'Paytone One', sans-serif;
  margin-top: 2.9em;
  margin-bottom: 5em;
  font-weight: 400;
  font-size: 1.9em;
  text-align: center;
  word-spacing: .25em;
  letter-spacing: .11256em; }
  
h2{
  
}   

.home{
	background: url('../img/home_widephoneport.png') no-repeat left top; }

.outreach{
	background: url('../img/outreach_phoneport.png') no-repeat left top; }

.about{
	background: url('../img/about_phoneport.png') no-repeat left top; }

.volunteer{
	background: url('../img/volunteer_phoneport.png') no-repeat left top; }

.donate{
	background: url('../img/donate_phoneport.png') no-repeat left top; }
>>>>>>> FETCH_HEAD

.top-bar {
  overflow: hidden;
  height: 65px;
  line-height: 65px;
  position: relative;
  background: #fff;
  margin-bottom: 0; }
  
<<<<<<< HEAD
 .top-bar .name h1 {
=======
.top-bar .name h1 {
>>>>>>> FETCH_HEAD
  line-height: 65px;
  font-size: 1.0625rem;
  margin: 0; }
    
.top-bar .toggle-topbar.menu-icon {
  top: 35%;
  margin-top: 0px; }

<<<<<<< HEAD
#people, #work, #contact, #sponsor, #partners{
  position: relative;
  width: 100%;
  height: 65px; } 

h1{
  color:#fff;
  font: small-caps 2.0em 'Geo', sans-serif;
  margin-top: 1.1em;
  margin-bottom: 1.1em;
  font-weight: 300;
  text-align: center;
  word-spacing: .25em;
  letter-spacing: .11256em;}
  
.size{
  width: 200px;
}
  
  
.home{
  background: url('../img/home_phone_portrait_background.jpg') no-repeat left top;
}

.people{
  background: url('../img/joinup_phone_portrait_background.jpg') no-repeat left top;
}

.work{
  background: url('../img/work_phone_portrait_background.jpg') no-repeat left top;
}

.contact{
  background: url('../img/contact_phone_portrait_background.jpg') no-repeat left top;
}

.sponsor{
<<<<<<< HEAD
  background: url('../img/sponsor_phone_portrait_background.jpg')no-repeat left top ;		
}  

.partners{
  background: url('../img/partnership_phone_portrait_background.jpg') no-repeat left top;		
=======
  background: url('http://placehold.it/360x98');		
}  

.partners{
  background: url('http://placehold.it/360x98');		
>>>>>>> fdf59c363336f082875b666132b663388c6f38dd
}  
    
.lift
{
  margin-top: -17px;} 

}


@media only screen and (min-width: 30.063em) {
h1{
  color:#fff;
  font: small-caps 2.5em 'Geo', sans-serif;
  margin-top: 1.25em;
  margin-bottom: 1.25em;
  font-weight: 300;
  text-align: center;
  word-spacing: .25em;
  letter-spacing: .11256em;}
  
.home{
  background: url('../img/home_phone_landscape_background.jpg') no-repeat left top;
}

.people{
  background: url('../img/joinup_phone_landscape_background.jpg') no-repeat left top;
}

.work{
  background: url('../img/work_phone_landscape_background.jpg') no-repeat left top;
}

.contact{
  background: url('../img/contact_phone_landscape_background.jpg') no-repeat left top;
}

.sponsor{
<<<<<<< HEAD
  background: url('../img/sponsor_phone_landscape_background.jpg')no-repeat left top;		
}  

.partners{
  background: url('../img/partnership_phone_landscape_background.jpg')no-repeat left top;		
=======
  background: url('http://placehold.it/600x163');		
}  

.partners{
  background: url('http://placehold.it/600x163');		
>>>>>>> fdf59c363336f082875b666132b663388c6f38dd
}    
    
.lift
{
  margin-top: -17px;} 
}
    
@media only screen and (min-width: 40.063em) {
=======
#community{
  position: relative;
  width: 100%;
  height: 65px;}

.size{
  width: 100px;}
  
  .lift
  {
  	margin-top: -48px;}
  
 .tabs dd > a, .tabs .tab-title > a {
   display: block;
   background: #e1d9d2;
   color: #fff;
   padding: 1rem 1.34rem;
   font-family: 'Paytone One', sans-serif;
   font-size: .6559rem; }}    
    

/* Phone Landscape */ 

@media only screen and (min-width: 30.063em) {
h1{
  color:#fff;
  font-family: 'Paytone One', sans-serif;
  margin-top: 2.7em;
  margin-bottom: 2em;
  font-weight: 400;
  font-size: 1.9em;
  text-align: center;
  word-spacing: .25em;
  letter-spacing: .11256em; }
	
.home{
	background: url('../img/home_widephoneland.png') no-repeat left top; }

.outreach{
	background: url('../img/outreach_phoneland.png') no-repeat left top; }

.about{
	background: url('../img/about_phoneland.png') no-repeat left top; }

.volunteer{
	background: url('../img/volunteer_phoneland.png') no-repeat left top; }

.donate{
	background: url('../img/donate_phoneland.png') no-repeat left top; }

.tabs dd > a, .tabs .tab-title > a {
  display: block;
  background: #e1d9d2;
  color: #fff;
  padding: 1rem 3.7rem;
  font-family: 'Paytone One', sans-serif;
  font-size: .6559rem; }}   

/* Tablet Portrait */
    
@media only screen and (min-width: 40.063em) {

h1 {
  color:#fff;
  font-family: 'Paytone One', sans-serif;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  font-weight: 300;
  text-align: center;
  word-spacing: .25em;
  letter-spacing: .11256em; }
	
.home{
	background: url('../img/home_ipadport.png') no-repeat left top; }

.outreach{
	background: url('../img/outreach_ipadport.png') no-repeat left top; }

.about{
	background: url('../img/about_ipadport.png') no-repeat left top; }

.volunteer{
	background: url('../img/volunteer_ipadport.png') no-repeat left top; }

.donate{
	background: url('../img/donate_ipadport.png') no-repeat left top; }
>>>>>>> FETCH_HEAD

.top-bar {
  overflow: hidden;
  height: 99px;
  line-height: 99px;
  position: relative;
  background: #fff;
  margin-bottom: 0; }
  
.top-bar .name h1 {
  line-height: 99px;
  font-size: 1.0625rem;
  margin: 0; }
<<<<<<< HEAD
 
#people, #work, #contact, #sponsor, #partners{
  position: relative;
  width: 100%;
  height: 99px; }    

h1{
  color:#fff;
  font: small-caps 3em 'Geo', sans-serif;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  font-weight: 300;
  text-align: center;
  word-spacing: .25em;
  letter-spacing: .11256em;}
  
.home{
  background: url('../img/home_ipad_portrait_background.jpg') no-repeat left top;
}

.people{
  background: url('../img/joinup_ipad_portrait_background.jpg') no-repeat left top;
}

.work{
  background: url('../img/work_ipad_portrait_background.jpg') no-repeat left top;
}

.contact{
  background: url('../img/contact_ipad_portrait_background.jpg') no-repeat left top;
}

.sponsor{
<<<<<<< HEAD
  background: url('../img/sponsor_ipad_portrait_background.jpg') no-repeat left top;		
}  

.partners{
  background: url('../img/partnership_ipad_portrait_background.jpg')no-repeat left top;		
=======
  background: url('http://placehold.it/768x209');		
}  

.partners{
  background: url('http://placehold.it/768x209');		
>>>>>>> fdf59c363336f082875b666132b663388c6f38dd
}    
    
.lift
{
  margin-top: -20px;} 

.space{
  width: 100%;
  height: 175px; }
    
}
=======

#community{
  position: relative;
  width: 100%;
  height: 99px; }}

/* Tablet Landscape */
>>>>>>> FETCH_HEAD

@media only screen and (min-width: 48.063em) {

h1{
  color:#fff;
<<<<<<< HEAD
  font: small-caps 4em 'Geo', sans-serif;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  font-weight: 300;
  text-align: center;
  word-spacing: .25em;
  letter-spacing: .11256em;}
  
.home{
  background: url('../img/home_ipad_background.jpg') no-repeat left top;
}

.people{
  background: url('../img/joinup_ipad_background.jpg') no-repeat left top;
}

.work{
  background: url('../img/work_ipad_background.jpg') no-repeat left top;
}

.contact{
  background: url('../img/contact_ipad_background.jpg') no-repeat left top;
}

.sponsor{
<<<<<<< HEAD
  background: url('../img/sponsor_ipad_background.jpg')no-repeat left top;		
}  

.partners{
  background: url('../img/partnership_ipad_background.jpg')no-repeat left top;		
=======
  background: url('http://placehold.it/1024x278');		
}  

.partners{
  background: url('http://placehold.it/1024x278');		
>>>>>>> fdf59c363336f082875b666132b663388c6f38dd
}    
    
.lift
{
  margin-top: -27px;} 

.space{
  width: 100%;
  height: 0px; }

}

@media only screen and (min-width: 64.063em) {
h1{
  color:#fff;
  font: small-caps 5em 'Geo', sans-serif;
  font-weight: 300;
  margin-top: 1.8em;
  margin-bottom: 1.8em;
  text-align: center;
  word-spacing: .25em;
  letter-spacing: .11256em; }

.home{
  background: url('../img/home_background.jpg') no-repeat left top;
}

.people{
  background: url('../img/joinup_background.jpg') no-repeat left top;
}

.work{
  background: url('../img/work_background.jpg') no-repeat left top;
}

.contact{
  background: url('../img/contact_background.jpg') no-repeat left top;
}

.sponsor{
<<<<<<< HEAD
  background: url('../img/sponsor_background.jpg')no-repeat left top;		
}  

.partners{
  background: url('../img/partnership_background.jpg')no-repeat left top;		
=======
  background: url('http://placehold.it/1440x386');		
}  

.partners{
  background: url('http://placehold.it/1440x386');		
>>>>>>> fdf59c363336f082875b666132b663388c6f38dd
}  

.lift
{
  margin-top: -1.688em;}
  
.space{
  width: 100%;
  height: 0px; }
}

<<<<<<< HEAD

@media only screen and (min-width: 90.063em){

.home{
  background: url('../img/home_background_xl.jpg') no-repeat left top;
}

.people{
  background: url('../img/joinup_background_xl.jpg') no-repeat left top;
}

.work{
  background: url('../img/work_background_xl.jpg') no-repeat left top;
}

.contact{
  background: url('../img/contact_background_xl.jpg') no-repeat left top;
}

.sponsor{
  background: url('../img/sponsor_background_xl.jpg')no-repeat left top;		
}  

.partners{
  background: url('../img/partnership_background_xl.jpg')no-repeat left top;		
}

}


=======
>>>>>>> fdf59c363336f082875b666132b663388c6f38dd
.header{
  position:relative;
  width: 100%;
  height:auto;
  z-index: 0; }

.sink{
  margin-top: 45px; }

.footer{
  height: 99px;
  width: 100%;
  position: relative;
  background: #484848;
  overflow: hidden; }

.footer p{
  color: white;
  line-height: 99px; }

p{
  color: #999;
  font: 'Open Sans', sans-serif; }
  
.hero{
	text-align: center;
}	      
=======
  font-family: 'Paytone One', sans-serif;
  margin-top: 1.45em;
  margin-bottom: 1.45em;
  font-weight: 300;
  text-align: center;
  word-spacing: .25em;
  letter-spacing: .11256em;
  font-size: 4em; }

.home{
	background: url('../img/home_ipadland.png') no-repeat left top; }

.outreach{
	background: url('../img/outreach_ipadland.png') no-repeat left top; }

.about{
	background: url('../img/about_ipadland.png') no-repeat left top; }

.volunteer{
	background: url('../img/volunteer_ipadland.png') no-repeat left top; }

.donate{
	background: url('../img/donate_ipadland.png') no-repeat left top; }

    
.lift {
	margin-top: -35px;} 

.space {
	width: 100%;
	height: 0px; }
	
.tabs dd > a, .tabs .tab-title > a {
  display: block;
  background: #e1d9d2;
  color: #fff;
  padding: 1rem 2rem;
  font-family: 'Paytone One', sans-serif;
  font-size: 1rem; }}

/* Desktop Computers */

@media only screen and (min-width: 64.063em) {
h1{
	color:#fff;
	font-family: 'Paytone One', sans-serif;
	font-weight: Normal;
	margin-top: 1.5em;
	margin-bottom: 1.5em;
	font-size: 5em;
	text-align: center;
	word-spacing: .25em;
	letter-spacing: .11256em; }

.home{
	background: url('../img/home_laptop.png') no-repeat left top; }

.outreach{
	background: url('../img/outreach_laptop.png') no-repeat left top; }

.about{
	background: url('../img/about_laptop.png') no-repeat left top; }

.volunteer{
	background: url('../img/volunteer_laptop.png') no-repeat left top; }

.donate{
	background: url('../img/donate_laptop.png') no-repeat left top; }

.lift
{
	margin-top: -57px;}
	
.space{
	width: 100%;
	height: 0px; }}


/* Large Desktop Computers */
	
@media only screen and (min-width: 90.063em){

.home{
	background: url('../img/home_cinema.png') no-repeat left top; }

.outreach{
	background: url('../img/outreach_cinema.png') no-repeat left top; }

.about{
	background: url('../img/about_cinema.png') no-repeat left top; }

.volunteer{
	background: url('../img/volunteer_cinema.png') left top no-repeat; }

.donate{
	background: url('../img/donate_cinema.png') no-repeat left top; }}
	
/* end of media queries */	

h2 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	text-align: center;
	padding: 30px 0 30px 0;
	color: #85776B;
	letter-spacing: 1px;
}

h3, h4{
	margin-top: -8px ;	
}

h4{
	font-family: 'Paytone One', sans-serif;
	color: #20997e; }

h3{
	font-family: 'Open Sans', sans-serif;
	color: #85776B; }

.hero row p {
	text-align: center; }

.parallex {
	position: relative;
	width: 100%;
	height:auto;
	z-index: 0; }
	
.action {
	position:relative;
	width: 100%;
	height:auto;
	z-index: 0;
	background: #fcf9f8; }	

.sink {
	margin-top: 45px; }

.footer {
	height: 99px;
	width: 100%;
	position: relative;
	background: #85776B;
	overflow: hidden; }

.footer p {
	color: white;
	line-height: 99px; }

p {
	color: #85776B;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 1em;
	text-rendering: optimizeLegibility; }
	
label{
	color: #857768;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 1em;
	text-rendering: optimizeLegibility;}	 
	
.hero{
	text-align: center; }
	
hr {
  border: solid #85776B;
  border-width: 1px 0 0;
  clear: both;
  margin: 1.25rem 0 3rem;
  height: 0px; }
  
input[placeholder]{
  color: #857768;
  font-family: 'Open Sans', sans-serif;	}
	
